<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <h1 class="text-3xl font-bold underline">Sign Up</h1>

    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
  <!-- ... -->
        <button class="py-4 px-8 bg-teal-500 text-white rounded-xl">Submit</button>
    </form>
    <br>
    <a class="py-4 px-8 bg-teal-500 text-white rounded-xl" href="{% url 'login' %}">Log In Again</a>
</body>
</html>