
{% extends 'master.html' %}
{% load static %}
{% block  page%} 

<div class="col-md-6">
    <div class="white_shd full margin_bottom_30">
       <div class="full graph_head">
          <div class="heading1 margin_0">
             <h2 class="text-primary">Category Form Update</h2>
          </div>
       </div>
       <div class="full inner_elements">
          <div class="row">
             <div class="col-md-12">
                <div class="tab_style1">
                   <div class="tabbar padding_infor_info">
                      <div class="tab-content" id="nav-tabContent">
                         <form method="POST" action=" {% url "category_update" category_record.id %}">
                            {% csrf_token %}   
                            
                            <div class="d-flex flex-row bd-highlight">
                            <div class="row mb-3">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Name: </label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" value="{{ category_record.name }}" id="inputEmail3" required>
                              </div>
                            </div>  
                            <div class="button_block"><button type="Submit" class="btn btn-primary mt-0 ml-2"><i class="fa fa-plus-square-o mr-2"></i>Submit</button></div>       
                        </form> 
                        <div class="button_block"><a href="{% url "view_table" %}" class="btn btn-success mt-0 ml-2"><i class="fa fa-backward mr-2"></i>Cancel</a></div>       
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

   {% comment %} <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2 class="text-primary">Category</h2>
            </div>
         </div>

                <!-- button main -->
            <div class="container">
            <form action="{% url 'store' %}" method="POST">
                {% csrf_token %}   
                
                <div class="d-flex flex-row bd-highlight">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Name: </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="inputEmail3" placeholder="Enter product name" required>
                  </div>
                </div>  
                <div class="button_block"><button type="Submit" class="btn btn-primary mt-0 ml-2">Submit</button></div>       
            </form> 
        </div> 
             </div>
      </div>
      <!-- row -->
   </div> {% endcomment %}
      <link rel="stylesheet" href="sweetalert2.min.css">
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
      <script>
         {% for msg in messages %}
             Swal.fire('{{ msg }}');
         {% endfor %}
      </script>

{% endblock%}